.extra-extra-large-1400-px {
  background: #12192a;
  max-width: 1920px;
  height: 1500px;
  position: relative;
  margin: 0 auto 100px;
  padding: 20px;
}
.country {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: 1260px;
  top: 1210px;
}
.country2 {
  color: #6a7188;
  text-align: left;
  font: 500 16px "Inter", sans-serif;
  position: relative;
}
.country-content {
  color: #c3c8d4;
  text-align: left;
  font: 500 24px "Inter", sans-serif;
  position: relative;
}
.duration {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: 1041px;
  top: 1210px;
}
.duration2 {
  color: #6a7188;
  text-align: left;
  font: 500 16px "Inter", sans-serif;
  position: relative;
}
.duration-content {
  color: #c3c8d4;
  text-align: left;
  font: 500 24px "Inter", sans-serif;
  position: relative;
}
.rating {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: 1260px;
  top: 1130px;
}
.rating2 {
  color: #6a7188;
  text-align: left;
  font: 500 16px "Inter", sans-serif;
  position: relative;
}
.rating-content {
  color: #c3c8d4;
  text-align: left;
  font: 500 24px "Inter", sans-serif;
  position: relative;
}
.years {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: 1041px;
  top: 1130px;
}
.year {
  color: #6a7188;
  text-align: left;
  font: 500 16px "Inter", sans-serif;
  position: relative;
}
.year-content {
  color: #c3c8d4;
  text-align: left;
  font: 500 24px "Inter", sans-serif;
  position: relative;
}
.genres {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: 1041px;
  top: 1050px;
}
.genres2 {
  color: #6a7188;
  text-align: left;
  font: 500 16px "Inter", sans-serif;
  position: relative;
}
.genres-content {
  color: #c3c8d4;
  text-align: left;
  font: 500 24px "Inter", sans-serif;
  position: relative;
}
.synopsis {
  display: flex;
  flex-direction: column;
  gap: 28px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: 1041px;
  top: 793px;
}
.synopsis2 {
  color: #ebeef5;
  text-align: left;
  font: 500 24px "Inter", sans-serif;
  position: relative;
}
.synopsis-content {
  color: #767d94;
  text-align: left;
  font: 500 16px "Inter", sans-serif;
  position: relative;
  max-width: 400px;
}

.poster2 {
  border-radius: 20px;
  width: 519px;
  height: 718px;
  position: absolute;
  left: 355px;
  top: 793px;
}
.trailer {
  border-radius: 40px;
  inset: 0;
  width: 100% !important;
  margin-top: 50px;
}
.rectangle-2 {
  display: flex;
  justify-content: center;
  width: 100%;
}
.image-2 {
  width: 1228px;
  height: 603px;
  position: absolute;
  left: 351px;
  top: 107px;
}
.title {
  background: #15252f;
  border-radius: 20px;
  padding: 38px 39px 38px 39px;
  gap: 10px;
  width: 300px;
  position: absolute;
  left: 441px;
  top: 568px;
  overflow: hidden;
}
.movie-gpt {
  color: #abdceb;
  text-align: left;
  font: 500 12px "Inter", sans-serif;
  position: relative;
  width: 60px;
}
.detail-page {
  color: #abdceb;
  text-align: left;
  font: 500 12px "Inter", sans-serif;
  position: relative;
  width: 66px;
}
.black-berry {
  color: #ffffff;
  text-align: left;
  font: 500 32px "Inter", sans-serif;
  position: relative;
  width: auto;
}
.navbar {
  position: static;
  inset: 0;
}
.home {
  color: #767d94;
  text-align: left;
  font: 500 16px "Inter", sans-serif;
  position: absolute;
  right: 448px;
  top: 30px;
}
.series {
  color: #767d94;
  text-align: left;
  font: 500 16px "Inter", sans-serif;
  position: absolute;
  right: 360px;
  top: 30px;
}
.logo {
  width: 30px;
  height: 29.52px;
  position: absolute;
  left: 360px;
  top: 21px;
}

@media (max-width: 768px) {
  .country,
  .duration,
  .rating,
  .years,
  .genres,
  .synopsis,
  .trailer {
    position: relative;
    left: auto;
    top: auto;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: left;
    width: auto;
    gap: 10px;
  }
  .title-mobile {
    background: #15252f;
    border-radius: 20px;
    padding: 38px 39px 38px 39px;
    margin: 60px 0 -40px;
  }

  .title {
    visibility: hidden !important;
  }

  .poster2 {
    position: relative;
    top: -30px !important;
  }

  .trailer {
    width: 100%;
    height: auto;
  }

  .poster2 {
    width: 100%;
    height: auto;
  }

  /* Adjust other responsive styles as needed */
}

/* Responsive styles for 576px and below */
@media (max-width: 576px) {
  .country,
  .duration,
  .rating,
  .years,
  .genres,
  .synopsis,
  .title,
  .poster2,
  .trailer {
    position: relative;
    left: auto;
    top: auto;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: left;
    width: auto;
    gap: 10px;
  }

  .trailer {
    width: 100%;
    height: auto;
  }

  .poster2 {
    width: 100%;
    height: auto;
  }

  /* Adjust other responsive styles as needed */
}

/* Responsive styles for 575px and below */
@media (max-width: 575px) {
  .country,
  .duration,
  .rating,
  .years,
  .genres,
  .synopsis,
  .title,
  .poster2,
  .trailer {
    position: relative;
    left: auto;
    top: 50px;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: left;
    width: auto;
    gap: 10px;
  }

  .logo {
    width: 30px;
    height: 29.52px;
    position: absolute;
    left: 20px;
    top: 21px;
  }

  .home {
    color: #767d94;
    text-align: left;
    font: 500 16px "Inter", sans-serif;
    position: absolute;
    right: 20px;
    top: 30px;
  }

  .trailer {
    width: 100%;
    height: auto;
  }

  .poster2 {
    width: 100%;
    height: auto;
    margin-top: 30px;
  }
}

.custom-flex {
  display: flex;
}
