.medium-768-px,
.medium-768-px * {
  box-sizing: border-box;
}
.medium-768-px {
  background: #12192a;
  width: 880px;
  height: 2100px;
  position: relative;
  overflow: hidden;
}
.country {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: center;
  position: absolute;
  left: 370px;
  top: 1982px;
}
.country2 {
  color: #6a7188;
  text-align: left;
  font: 500 16px "Inter", sans-serif;
  position: relative;
}
.country-content {
  color: #c3c8d4;
  text-align: left;
  font: 500 24px "Inter", sans-serif;
  position: relative;
}
.duration {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: 191px;
  top: 1978px;
}
.duration2 {
  color: #6a7188;
  text-align: left;
  font: 500 16px "Inter", sans-serif;
  position: relative;
}
.duration-content {
  color: #c3c8d4;
  text-align: left;
  font: 500 24px "Inter", sans-serif;
  position: relative;
}
.rating {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: 370px;
  top: 1902px;
}
.rating2 {
  color: #6a7188;
  text-align: left;
  font: 500 16px "Inter", sans-serif;
  position: relative;
}
.rating-content {
  color: #c3c8d4;
  text-align: left;
  font: 500 24px "Inter", sans-serif;
  position: relative;
}
.years {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  position: absolute;
  left: 191px;
  top: 1898px;
}
.year {
  color: #6a7188;
  text-align: left;
  font: 500 16px "Inter", sans-serif;
  position: relative;
}
.year-content {
  color: #c3c8d4;
  text-align: left;
  font: 500 24px "Inter", sans-serif;
  position: relative;
}
.genres {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 460px;
  position: absolute;
  left: 191px;
  top: 1793px;
}
.genres2 {
  color: #6a7188;
  text-align: left;
  font: 500 16px "Inter", sans-serif;
  position: relative;
}
.genres-content {
  color: #c3c8d4;
  text-align: left;
  font: 500 24px "Inter", sans-serif;
  position: relative;
}
.synopsis {
  display: flex;
  flex-direction: column;
  gap: 28px;
  align-items: flex-start;
  justify-content: flex-start;
  width: 524px;
  position: absolute;
  left: 178px;
  top: 1643px;
}
.synopsis2 {
  color: #ebeef5;
  text-align: left;
  font: 500 24px "Inter", sans-serif;
  position: relative;
}
.synopsis-content {
  color: #767d94;
  text-align: left;
  font: 500 16px "Inter", sans-serif;
  position: relative;
  width: 524px;
  height: 93px;
}
.poster {
  position: absolute;
  left: calc(50% - 275px);
  bottom: 511.39px;
  top: 710px;
  overflow: visible;
}
.trailer {
  position: absolute;
  inset: 0;
}
.rectangle-2 {
  background: #d9d9d9;
  border-radius: 40px;
  width: 550px;
  height: 481px;
  position: absolute;
  left: 167px;
  top: 111px;
}
.image-2 {
  width: 562.83px;
  height: 603px;
  position: absolute;
  left: 160.58px;
  top: 60px;
}
.title {
  background: #15252f;
  border-radius: 20px;
  padding: 38px 39px 38px 39px;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  width: 245px;
  position: absolute;
  left: 202px;
  top: 521px;
  overflow: hidden;
}
.movie-gpt {
  color: #abdceb;
  text-align: left;
  font: 500 12px "Inter", sans-serif;
  position: relative;
  width: 60px;
}
. {
  color: #abdceb;
  text-align: left;
  font: 500 12px "Inter", sans-serif;
  position: relative;
  width: 5px;
}
.detail-page {
  color: #abdceb;
  text-align: left;
  font: 500 12px "Inter", sans-serif;
  position: relative;
  width: 66px;
}
.black-berry {
  color: #ffffff;
  text-align: left;
  font: 500 32px "Inter", sans-serif;
  position: relative;
  width: 167px;
}
.navbar {
  position: absolute;
  inset: 0;
}
.home {
  color: #767d94;
  text-align: left;
  font: 500 16px "Inter", sans-serif;
  position: absolute;
  right: 251px;
  top: 30px;
}
.series {
  color: #767d94;
  text-align: left;
  font: 500 16px "Inter", sans-serif;
  position: absolute;
  right: 163px;
  top: 30px;
}
.logo {
  width: 30px;
  height: 29.52px;
  position: absolute;
  left: 167px;
  top: 21px;
}
